<h1> <%= "Select Gear Used" %> </h1>

 <%= form_with url: "/users/#{@user.id}/hikes/#{@complete.hike.id}/gear", method: :post, local:true do |form| %>
   <%= form.select :user_gear_id, @user.user_gears.map { |g| [g.name, g.id]}  %>
   <%= form.submit "Add To Trip"  %>
 <% end %>
