

<div class ="container text-center">

    <div class="row">
        <div class="col">
            <h1>Frequently Asked Questions</h1>

            <div class="row-lg-6">
                <div class="col">
                    <div id="user-comments">
                        <h2>What Is This?</h2>
                        <p>A site that allows users to track the peaks above 4000 ft elevation within the White Mountains National Forest. Users can mark a hike as completed, which allows them the ability to create a trip report. Users can also get view each peaks page to find the current,hourly, and forecasted weather to better plan trips. Directions to the peaks along with any campgrounds within a given radius can be found on the hike page as well.</p>
                    </div>
                </div>
            </div>


            <div class="row-lg-6">
                <div class="col">
                    <div id="user-comments">
                        <h2>Why Make This Site?</h2>
                        <p> I wanted to develop a site that allowed users to easily track their completed peaks, while also having the ability to create a digital trip report. I've always enjoyed gathering pictures and notes from my hiking and backpacking trips, but I've never really known what to do with them. This site allows the user to easily add their photos, along with any notes they have to a trip report which can be shared. I also wanted to have a collaborative report, so your hiking buddies can also add their pictures and notes. Each trip report also has a section for adding any gear that was used on the trip. Ultralight backpacking is a popular subsect of backpacking, so this allows users to show off what weight they were actually carrying. I have also added a section to evenly split costs amongst the participants on a trip. No one likes having to figure this out afterwards, so the thining is taken away and automated based on the number of hiking participants. Overall, I believe this site can be leveraged to enhance the sharing of experiences that make being outside so special.</p>
                    </div>
                </div>
            </div>

            <div class="row-lg-6">
                <div class="col">
                    <div id="user-comments">
                        <h2>Who Is This For?</h2>
                        <p> Anyone who wants to explored the highest peaks in the White Mountains.</p>
                    </div>
                </div>
            </div>


            <div class="row-lg-6">
                <div class="col">
                    <div id="user-comments">
                        <h2>How To Use This Site?</h2>
                        <p> -<%= link_to "Create an account!", "/register"%> and start searching for peaks. <br> -Use the menu tab to naviagate the site. <br> -Discover Peaks will take you to a listing of all peaks in the White Mountains above 4000 ft. Use the filter options to find peaks that meet your needs or use the search bar to search by name or features. <br> -Mark a peak as favorited or completed to have it added to your profile.<br> -Go to your profile to see sections sections for your favorited hikes, view the trip reports for completed hikes, add the gear that you own to your shed, and view all trips that you have been added to.<br> -The bulk of your time may be spent in a completed trip report. On this page you and your hiking buddies can add pictures/notes, add the gear that your used, split costs, and get peak information. </p>
                    </div>
                </div>
            </div>

            <div class="row-lg-6">
                <div class="col">
                    <div id="user-comments">
                        <h2>Whats Next?</h2>
                        <p> The opportunities are endless! In the near future, I will work on site navigability, design, and expanding away from just the White Mountains.   </p>
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>
