<h1><%= @hike.name %></h1>
<%= button_to "Favorite", "/users/#{@user.id}/hikes/#{@hike.id}", method: :post %>
<%= button_to "Completed", "/users/#{@user.id}/hikes/#{@hike.id}/complete", method: :post %>
