---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=44.270278&lon=-71.303611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.2703,"lon":-71.3036,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1660075908,"sunrise":1660038098,"sunset":1660089594,"temp":59.77,"feels_like":59.25,"pressure":1013,"humidity":81,"dew_point":53.94,"uvi":2.53,"clouds":100,"visibility":10000,"wind_speed":18.41,"wind_deg":290,"wind_gust":29.93,"weather":[{"id":741,"main":"Fog","description":"fog","icon":"50d"}]},"hourly":[{"dt":1660075200,"temp":59.77,"feels_like":59.25,"pressure":1013,"humidity":81,"dew_point":53.94,"uvi":2.53,"clouds":100,"visibility":10000,"wind_speed":6.02,"wind_deg":302,"wind_gust":7.4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.09},{"dt":1660078800,"temp":59.95,"feels_like":59.27,"pressure":1013,"humidity":77,"dew_point":52.74,"uvi":1.34,"clouds":88,"visibility":10000,"wind_speed":5.32,"wind_deg":298,"wind_gust":5.68,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.09},{"dt":1660082400,"temp":59.04,"feels_like":58.26,"pressure":1013,"humidity":77,"dew_point":51.84,"uvi":0.57,"clouds":78,"visibility":10000,"wind_speed":3.51,"wind_deg":294,"wind_gust":4.41,"weather":[{[...]
