---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=44.270278&lon=-71.303611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.2703,"lon":-71.3036,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1661871791,"sunrise":1661853959,"sunset":1661901969,"temp":64.85,"feels_like":64.47,"pressure":1010,"humidity":73,"dew_point":55.99,"uvi":5.3,"clouds":0,"visibility":10000,"wind_speed":7.81,"wind_deg":228,"wind_gust":17.6,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1661871600,"temp":64.85,"feels_like":64.47,"pressure":1010,"humidity":73,"dew_point":55.99,"uvi":5.3,"clouds":0,"visibility":10000,"wind_speed":7.81,"wind_deg":228,"wind_gust":17.6,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.01},{"dt":1661875200,"temp":65.66,"feels_like":65.12,"pressure":1010,"humidity":68,"dew_point":54.82,"uvi":6.56,"clouds":0,"visibility":10000,"wind_speed":10.25,"wind_deg":222,"wind_gust":20.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.08},{"dt":1661878800,"temp":66.6,"feels_like":65.97,"pressure":1010,"humidity":64,"dew_point":54.05,"uvi":6.84,"clouds":1,"visibility":10000,"wind_speed":11.52,"wind_deg":220,"wind_gust":21.85,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.17},{"dt":1661882400,"temp":66.78,"feels_like":66.07,"pressure":1009,"humidity":62,"dew_point":53.35,"uvi":6.1,"clouds":2,"visibility":10000,"wind_speed":10.4,"wind_deg":217,"wind_gust":21.27,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.25},{"dt":1661886000,"temp":65.32,"feels_like":64.8,"pressure":1009,"humidity":69,"dew_point":54.9,"uvi":3.74,"clouds":12,"visibility":10000,"wind_speed":8.39,"wind_deg":215,"wind_gust":19.8,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.28,"rain":{"1h":0.31}},{"dt":1661889600,"temp":63.99,"feels_like":63.43,"pressure":1008,"humidity":71,"dew_point":62.55,"uvi":2.31,"clouds":13,"visibility":10000,"wind_speed":7.45,"wind_deg":206,"wind_gust":19.06,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.28,"rain":{"1h":0.23}},{"dt":1661893200,"temp":62.91,"feels_like":62.33,"pressure":1007,"humidity":73,"dew_point":62.47,"uvi":1.11,"clouds":19,"visibility":10000,"wind_speed":6.67,"wind_deg":201,"wind_gus[...]
