---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=44.270278&lon=-71.303611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.2703,"lon":-71.3036,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1680094557,"sunrise":1680085934,"sunset":1680131256,"temp":15.1,"feels_like":9.68,"pressure":1021,"humidity":62,"dew_point":5.56,"uvi":1.07,"clouds":19,"visibility":10000,"wind_speed":3.29,"wind_deg":303,"wind_gust":4.76,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1680091200,"temp":14.22,"feels_like":8.4,"pressure":1021,"humidity":68,"dew_point":6.51,"uvi":0.4,"clouds":30,"visibility":10000,"wind_speed":3.44,"wind_deg":302,"wind_gust":5.37,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1680094800,"temp":15.1,"feels_like":9.68,"pressure":1021,"humidity":62,"dew_point":5.56,"uvi":1.07,"clouds":19,"visibility":10000,"wind_speed":3.29,"wind_deg":303,"wind_gust":4.76,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1680098400,"temp":15.73,"feels_like":15.73,"pressure":1021,"humidity":64,"dew_point":6.78,"uvi":2.02,"clouds":19,"visibility":10000,"wind_speed":2.77,"wind_deg":297,"wind_gust":4.18,"weather":[{"id":801,"main"[...]
