<body>


<%@hike_result.each do |hike| %>
<h2><p><%=link_to "#{hike.name}", "/users/#{@user.id}/hikes/#{hike.id}", method: :get %></p></h2>
<b><p>Location:</b> <%= hike.location %></p>
<b><p>Range: </b><%= hike.range %></p>
<b><p>Features:</b> <%= hike.features %></p>

<% end %>

</body>
