<h1>Patch Perfect</h1>

<% if logged_in? %>
  <p><%= "#{@current_user.first_name} #{@current_user.last_name}" %></p>
  <p><%= link_to "Discover Hikes", "/users/#{@current_user.id}/discover" %></p>
<% end %>
