
  <% if logged_in? %>
    <h1><p><%= "Welcome, #{@current_user.first_name} #{@current_user.last_name}" %></p></h1>
  <% else %>
    <h1><%= "Please Login/Create an Account to Contine" %></h1>
  <% end %>
