---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=44.270278&lon=-71.303611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.2703,"lon":-71.3036,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1677079578,"sunrise":1677065681,"sunset":1677104588,"temp":11.68,"feels_like":1.09,"pressure":1020,"humidity":54,"dew_point":-0.36,"uvi":1.98,"clouds":6,"visibility":10000,"wind_speed":6.91,"wind_deg":296,"wind_gust":11.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1677078000,"temp":11.68,"feels_like":1.09,"pressure":1020,"humidity":54,"dew_point":-0.36,"uvi":1.98,"clouds":6,"visibility":10000,"wind_speed":6.91,"wind_deg":296,"wind_gust":11.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1677081600,"temp":11.32,"feels_like":1.76,"pressure":1020,"humidity":52,"dew_point":-1.43,"uvi":2.74,"clouds":6,"visibility":10000,"wind_speed":5.86,"wind_deg":304,"wind_gust":9.86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1677085200,"temp":11.64,"feels_like":2.5,"pressure":1020,"humidity":51,"dew_point":-1.5,"uvi":2.89,"clouds":8,"visibility":10000,"wind_speed":5.55,"wind_deg":289,"wind_gust":8.55,"weather":[{"id":800,"main":"Cl[...]
