---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=44.270278&lon=-71.303611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.2703,"lon":-71.3036,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1679075758,"sunrise":1679050466,"sunset":1679093573,"temp":22.69,"feels_like":10.09,"pressure":1005,"humidity":71,"dew_point":15.6,"uvi":1.78,"clouds":100,"visibility":10000,"wind_speed":42.57,"wind_deg":200,"wind_gust":54.09,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"snow":{"1h":0.73}},"hourly":[{"dt":1679072400,"temp":22.53,"feels_like":14.14,"pressure":1005,"humidity":76,"dew_point":16.83,"uvi":2.03,"clouds":100,"visibility":1287,"wind_speed":6.93,"wind_deg":147,"wind_gust":13.11,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1679076000,"temp":22.69,"feels_like":14.34,"pressure":1005,"humidity":71,"dew_point":15.6,"uvi":1.78,"clouds":100,"visibility":1363,"wind_speed":6.93,"wind_deg":145,"wind_gust":15.1,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"pop":0.2,"snow":{"1h":0.65}},{"dt":1679079600,"temp":21.99,"feels_like":13.42,"pressure":1005,"humidity":77,"dew_point":16.57,"uvi":0.29,"clouds":100,"visibility":535,"wind_speed":7.02,"wind_deg":146,"wind_gust":15.03,"weather":[{"id":60[...]
