---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=44.270278&lon=-71.303611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.2703,"lon":-71.3036,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1681847127,"sunrise":1681811805,"sunset":1681860721,"temp":26.11,"feels_like":18.28,"pressure":1003,"humidity":81,"dew_point":21.67,"uvi":2.13,"clouds":99,"visibility":6919,"wind_speed":7.16,"wind_deg":259,"wind_gust":14.29,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1681844400,"temp":26.49,"feels_like":18.23,"pressure":1003,"humidity":78,"dew_point":21.24,"uvi":3.34,"clouds":99,"visibility":9686,"wind_speed":7.87,"wind_deg":267,"wind_gust":13.47,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.38,"snow":{"1h":0.11}},{"dt":1681848000,"temp":26.11,"feels_like":18.28,"pressure":1003,"humidity":81,"dew_point":21.67,"uvi":2.13,"clouds":99,"visibility":6919,"wind_speed":7.16,"wind_deg":259,"wind_gust":14.29,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.38},{"dt":1681851600,"temp":26.29,"feels_like":19.36,"pressure":1003,"humidity":79,"dew_point":21.31,"uvi":1.07,"clouds":99,"visibility":5866,"wind_speed":6.08,"wind_deg":261,"wind_gust":12.37,"weat[...]
