---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=44.270278&lon=-71.303611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.2703,"lon":-71.3036,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1663427316,"sunrise":1663410394,"sunset":1663455183,"temp":40.86,"feels_like":40.86,"pressure":1024,"humidity":61,"dew_point":28.89,"uvi":4.17,"clouds":9,"visibility":10000,"wind_speed":2.51,"wind_deg":320,"wind_gust":3.31,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1663426800,"temp":40.86,"feels_like":40.86,"pressure":1024,"humidity":61,"dew_point":28.89,"uvi":4.17,"clouds":9,"visibility":10000,"wind_speed":2.51,"wind_deg":320,"wind_gust":3.31,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1663430400,"temp":42.24,"feels_like":42.24,"pressure":1024,"humidity":56,"dew_point":28.18,"uvi":5.08,"clouds":11,"visibility":10000,"wind_speed":2.39,"wind_deg":299,"wind_gust":3.74,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1663434000,"temp":44.29,"feels_like":44.29,"pressure":1024,"humidity":50,"dew_point":27.45,"uvi":5.32,"clouds":12,"visibility":10000,"wind_speed":2.8,"wind_deg":299,"wind_gust":4.32,"weather":[{"id":801,"ma[...]
