---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=44.270278&lon=-71.303611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.2703,"lon":-71.3036,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1685807153,"sunrise":1685783024,"sunset":1685838196,"temp":31.35,"feels_like":18.75,"pressure":1020,"humidity":93,"dew_point":29.77,"uvi":2.46,"clouds":100,"visibility":10000,"wind_speed":28.77,"wind_deg":40,"weather":[{"id":741,"main":"Fog","description":"fog","icon":"50d"}]},"hourly":[{"dt":1685804400,"temp":31.44,"feels_like":28.35,"pressure":1020,"humidity":94,"dew_point":30.09,"uvi":1.25,"clouds":100,"visibility":6871,"wind_speed":3.24,"wind_deg":85,"wind_gust":5.1,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.13},{"dt":1685808000,"temp":31.35,"feels_like":28.08,"pressure":1020,"humidity":93,"dew_point":29.77,"uvi":2.46,"clouds":100,"visibility":10000,"wind_speed":3.38,"wind_deg":64,"wind_gust":5.5,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.12},{"dt":1685811600,"temp":31.87,"feels_like":27.9,"pressure":1020,"humidity":92,"dew_point":30.06,"uvi":2.54,"clouds":100,"visibility":10000,"wind_speed":4.03,"wind_deg":42,"wind_gust":6.15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.16},{"dt":1685815200,"temp":31.78,"feels_like":26.6,"pressure":1020,"humidity":93,"dew_point":30.2,"uvi":2.32,"clouds":100,"visibility":2836,"wind_speed":5.26,"wind_deg":31,"wind_gust":7.61,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.31,"rain":{"1h":0.15}},{"dt":1685818800,"temp":30.69,"feels_like":24.89,"pressure":1021,"humidity":94,"dew_point":29.34,"uvi":5.4,"clouds":100,"visibility":2730,"wind_speed":5.73,"wind_deg":24,"wind_gust":9.46,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.49,"snow":{"1h":0.2}},{"dt":1685822400,"temp":29.95,"feels_like":23.99,"pressure":1022,"humidity":93,"dew_point":28.38,"uvi":3.73,"clouds":100,"visibility":3585,"wind_speed":5.75,"wind_deg":19,"wind_gust":10.18,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.53,"snow":{"1h":0.19}},{"dt":1685826000,"temp":29.71,"feels_like":23.58,"pressure":1022,"humidity":92,"dew_point":36.32,"uvi":2.16,"clouds":100,"visibility":7326,"wind_speed":5.93,"wind_deg":21,"wind_gust":[...]
