/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
.navbar {
  background-color: #064635;
  margin-bottom: 10px;
}


body {
  display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
  flex: 1;    
}

.footer-link {
  font-size: 100%;
  text-align: center;
  
}

.footer-text {
  background-color: #064635;
  color: #F0BB62;
  font-size: 100%;
  text-align: center;
  height: 50px;
  padding-top: 10px;

  
}


#nav-blurb {
  position: relative;
  float: right;
  top: 10px;
  bottom: 20px;
  font-size: 175%;
  color: #F0BB62;
  padding: 10px;
  font-family: Monaco;
}


#favorite-hikes {
  text-align: left;
  padding-left: 210px;
 }

#completed-hikes {
  text-align: left;
  padding-left: 190px;
 }

 #user-complete-header {
   text-align:center;
 }


 .card-img-top {
  display:block;
  margin:auto;
  height: 50px;
  width: 50px;
 }
 #card-body {
  text-align:center;
  font-size:15px;
  position: relative;
  display: inline-block;
  height: auto;
  padding: 5px;
  background-color: #F0BB62;
  border: 3px solid #064635;
  border-radius: 10px;
 }


 .carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}


.title-center {
  text-align: center ;
  color: #F0BB62;
  background-image: url("/assets/header5.png");
  background-size: 100%;
  width: 104%;
  height:0px;
  padding-bottom:8.3%;
  
}
 
body {
  background-color: #ECE5C7;
  }

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    color: #064635;
    line-height: 38px;
    text-decoration: none;
    background-color: #ECE5C7;
    border: 1px solid #064635;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #064635;
.first{
    padding : 0;
    float: none;
    border: none;
}
.prev {
    padding : 0;
    float: none;
    border: none;
}
.page{
    padding : 0;
    float: none;
    border: none;
}
.next{
    padding : 0;
    float: none;
    border: none;
}
.last{
    padding : 0;
    float: none;
    border: none;
}
}

.pagination a:hover {
    background-color: #064635;
    color: #ECE5C7;
}


a:link {
  color: #519259;
}

a:visited {
  color: #519259;
  background-color: transparent;
  text-decoration: none;
}

.btn {
  color: #F0BB62;
  background-color: #064635;
  border: none;
}

.btn:hover {
  color: #F0BB62;
  background-color: #064635;
  border: none;
}

.dropdown-menu {
  background-color: #064635;
}

.dropdown {
  color: #F0BB62;
}


#guest-item {
  text-align:center;
  float: right;
}

#guest-cost {
  text-align:center;
  float: left;
 }

 #user-trips {
  border: 12px solid #064635;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #F0BB62;

  }
  #user-gear {
    border: 12px solid #064635;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #F0BB62;
  
    }

    #user-comments {
      border: 12px solid #064635;
      border-radius: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 10px;
      background-color: #F0BB62;
    
      }

    #gear-display {
      text-align:center;
      font-size:15px;
      position: relative;
      display: inline-block;
      height: auto;
      padding: 5px;
      background-color: #F0BB62;
      border: 3px solid #064635;
      border-radius: 10px;
      margin-bottom: 15px;
      padding-top: 15px;
      width: 100%;

      
     }

    .title {
      text-align: center;
      color: #064635;
    
    }


    

